@charset "UTF-8";
@import "https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&family=Montserrat:wght@100;200;300;400;500;600;700;900&display=swap";

@font-face {
    font-family: Futura_bold;
    src: url(../../fonts/Futura-Bold-font.ttf) format("truetype");
    font-weight: 400;
    font-style: normal
}

@font-face {
    font-family: Futura_Regular;
    src: url(../../fonts/Futura-Book-font.ttf) format("truetype");
    font-weight: 400;
    font-style: normal
}

@font-face {
    font-family: Futura_Light;
    src: url(../../fonts/Futura-Light-font.ttf) format("truetype");
    font-weight: lighter;
    font-style: normal
}

@font-face {
    font-family: Futura_Medium;
    src: url(../../fonts/futura-medium-bt.ttf) format("truetype");
    font-weight: 400;
    font-style: normal
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
    height: 100%
}

body {
    font-size: 1.6rem;
    font-family: Montserrat;
    color: #000;
    background-color: #fff
}

.p-line-height {
    line-height: 1.5
}

img {
    max-width: 100%;
    height: auto
}

.d-none {
    display: none !important
}

h2 {
    font-size: 4rem;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 2px
}

p {
    font-size: 1.8rem
}

.owl-nav.disabled {
    display: none
}

.owl-dots {
    position: absolute;
    width: 100%;
    height: auto;
    left: 0;
    bottom: -10%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center
}

@media (max-width: 480px) {
    .owl-dots {
        bottom: -10%
    }
}

.owl-dots .owl-dot {
    background-color: #9a93c9;
    width: 47px;
    height: 6px;
    margin-right: 1rem;
    border-radius: 1.2rem;
    transition: all .5s linear;
    border: 0;
    cursor: pointer
}

.owl-dots .owl-dot.active {
    transition: all .5s linear;
    background-color: #47477a
}

.owl-stage {
    display: flex;
    overflow: hidden;
    justify-content: center;
    align-items: center
}

.owl-stage-outer {
    position: relative;
    overflow: hidden;
    transform: translateZ(0);
    direction: ltr
}

.owl-nav, #nature-nav, #sun-nav {
    margin: 1.5rem 0
}

.owl-nav button, #nature-nav button, #sun-nav button {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #fff;
    border: 1px solid #ffffff;
    box-shadow: 0 2px 9px #00000080;
    margin-left: 1rem;
    position: relative;
    cursor: pointer
}

.owl-nav button span, #nature-nav button span, #sun-nav button span {
    display: none
}

.owl-nav button:after, #nature-nav button:after, #sun-nav button:after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-size: contain;
    z-index: 1;
    width: 22px;
    height: 20px
}

@media (max-width: 576px) {
    #nature-nav, #sun-nav {
        position: absolute;
        right: 1.5rem;
        bottom: -25rem;
        display: flex;
        flex-direction: column;
        gap: 10px
    }
}

.owl-next:after {
    background: url(../../images/chevron-next.svg) center center no-repeat
}

.owl-prev:after {
    background: url(../../images/chevron-prev.svg) center center no-repeat
}

.owl-carosuel {
    touch-action: manipulation
}

.custom-dots {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    margin: 3rem 0
}

.custom-dots .owl-dot {
    cursor: pointer;
    margin-left: 1rem;
    width: 1.2rem;
    height: 1.2rem;
    background-color: #fff;
    opacity: .5;
    border-radius: 50%;
    transition: all .3s linear;
    border: 1px solid #ffffff
}

.custom-dots .owl-dot.active {
    opacity: 1;
    border-radius: 3rem;
    width: 1.6rem;
    transition: all .3s linear
}

section {
    scroll-margin-top: 7em
}

.bg-blue {
    background-color: #004a93
}

.bg-yellow {
    background-color: #f5c345
}

.bg-wine {
    background-color: #6f162f
}

.bg-green {
    background-color: #71ab3d
}

.bg-pink {
    background-color: #e0154b
}

.bg-purple {
    background-color: #47477a
}

.container {
    --bs-gutter-x: 1.5rem;
    --bs-gutter-y: 0;
    width: 100%;
    padding-right: 1.5rem;
    padding-left: 1.5rem;
    margin-right: auto;
    margin-left: auto
}

@media (min-width: 576px) {
    .container {
        max-width: 540px;
        padding-right: calc(var(--bs-gutter-x) * .5);
        padding-left: calc(var(--bs-gutter-x) * .5)
    }
}

@media (min-width: 768px) {
    .container {
        max-width: 720px
    }
}

@media (min-width: 992px) {
    .container {
        max-width: 960px
    }
}

@media (min-width: 1200px) {
    .container {
        max-width: 1140px
    }
}

@media (min-width: 1440px) {
    .container {
        max-width: 1400px
    }
}

.container-fluid {
    max-width: 100%;
    width: 100%;
    padding-right: 1.5rem;
    padding-left: 1.5rem;
    margin-right: auto;
    margin-left: auto
}

.row {
    margin-left: 15px;
    margin-right: 15px;
    display: flex;
    flex-wrap: wrap
}

.row-reverse {
    flex-direction: row-reverse
}

.row div[class*=col] {
    position: relative
}

.col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12 {
    position: relative;
    width: 100%;
    padding-left: 15px;
    padding-right: 15px
}

.col-1 {
    width: calc(100% / 12 * 1)
}

.col-2 {
    width: calc(100% / 12 * 2)
}

.col-3 {
    width: 25%
}

.col-4 {
    width: calc(100% / 12 * 4)
}

.col-5 {
    width: calc(100% / 12 * 5)
}

.col-6 {
    width: 50%
}

.col-7 {
    width: calc(100% / 12 * 7)
}

.col-8 {
    width: calc(100% / 12 * 8)
}

.col-9 {
    width: 75%
}

.col-10 {
    width: calc(100% / 12 * 10)
}

.col-11 {
    width: calc(100% / 12 * 11)
}

.col-12 {
    width: 100%
}

@media (min-width: 320px) {
    .col-sm-1 {
        width: calc(100% / 12 * 1)
    }

    .col-sm-2 {
        width: calc(100% / 12 * 2)
    }

    .col-sm-3 {
        width: 25%
    }

    .col-sm-4 {
        width: calc(100% / 12 * 4)
    }

    .col-sm-5 {
        width: calc(100% / 12 * 5)
    }

    .col-sm-6 {
        width: 50%
    }

    .col-sm-7 {
        width: calc(100% / 12 * 7)
    }

    .col-sm-8 {
        width: calc(100% / 12 * 8)
    }

    .col-sm-9 {
        width: 75%
    }

    .col-sm-10 {
        width: calc(100% / 12 * 10)
    }

    .col-sm-11 {
        width: calc(100% / 12 * 11)
    }

    .col-sm-12 {
        width: 100%
    }
}

@media (min-width: 768px) {
    .col-md-1 {
        width: calc(100% / 12 * 1)
    }

    .col-md-2 {
        width: calc(100% / 12 * 2)
    }

    .col-md-3 {
        width: 25%
    }

    .col-md-4 {
        width: calc(100% / 12 * 4)
    }

    .col-md-5 {
        width: calc(100% / 12 * 5)
    }

    .col-md-6 {
        width: 50%
    }

    .col-md-7 {
        width: calc(100% / 12 * 7)
    }

    .col-md-8 {
        width: calc(100% / 12 * 8)
    }

    .col-md-9 {
        width: 75%
    }

    .col-md-10 {
        width: calc(100% / 12 * 10)
    }

    .col-md-11 {
        width: calc(100% / 12 * 11)
    }

    .col-md-12 {
        width: 100%
    }
}

@media (min-width: 992px) {
    .col-lg-1 {
        width: calc(100% / 12 * 1)
    }

    .col-lg-2 {
        width: calc(100% / 12 * 2)
    }

    .col-lg-3 {
        width: 25%
    }

    .col-lg-4 {
        width: calc(100% / 12 * 4)
    }

    .col-lg-5 {
        width: calc(100% / 12 * 5)
    }

    .col-lg-6 {
        width: 50%
    }

    .col-lg-7 {
        width: calc(100% / 12 * 7)
    }

    .col-lg-8 {
        width: calc(100% / 12 * 8)
    }

    .col-lg-9 {
        width: 75%
    }

    .col-lg-10 {
        width: calc(100% / 12 * 10)
    }

    .col-lg-11 {
        width: calc(100% / 12 * 11)
    }

    .col-lg-12 {
        width: 100%
    }
}

.btn {
    border: none;
    color: inherit;
    background-color: transparent;
    font-size: 1.5rem;
    height: 5rem;
    padding: 0rem 3rem;
    min-width: 21.7rem;
    transition: .3s color, .3s background-color, .3s border;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    cursor: pointer;
    font-weight: 100
}

@media (max-width: 992px) {
    .btn {
        width: 100%;
        min-width: 100%
    }
}

.btn-primary {
    color: #fff;
    background-color: transparent;
    border: 1px solid #ffffff
}

.btn-primary:hover {
    color: #47477a;
    background-color: #fff;
    border: 1px solid #47477A
}

.btn-secondary {
    color: #71ab3d;
    background-color: #fff;
    border: 2px solid #ffffff
}

.btn-secondary:hover {
    color: #fff;
    background-color: transparent
}

.btn-thirty {
    color: #fff;
    background-color: #0f0937;
    border: 1px solid #0F0937
}

.btn-thirty--blue-medium {
    color: #0043a8;
    background-color: #f5c345;
    border: 2px solid #F5C345
}

.btn-thirty:hover {
    color: #0f0937;
    background-color: transparent
}

.btn-outline {
    background-color: transparent
}

.btn-outline-white {
    border: 1px solid #ffffff;
    color: #000;
    font-weight: 300;
    text-transform: uppercase
}

.btn-outline-white.active, .btn-outline-white:hover {
    background-color: #fff
}

.btn-transparent {
    color: #fff;
    background-color: #fff6;
    border: 1px solid #ffffff
}

.btn-transparent:hover {
    background-color: #fff;
    border: 1px solid #000000
}

.btn-brown {
    color: #fff;
    background-color: #b75624;
    border: 1px solid #B75624;
    margin: 0 auto
}

.btn-brown:hover {
    color: #b75624;
    background-color: #fff;
    border: 1px solid #B75624
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 998;
    height: 7rem;
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center
}

@media (max-width: 992px) {
    header {
        height: 7.5rem;
        background-color: #fff
    }
}

header.navbar-solid {
    background-color: #fff
}

header.navbar-solid nav .menu-section-container .nav-bar-container {
    display: flex
}

header.navbar-solid nav .menu-section-container .nav-bar-container ul li a {
    color: #47477a
}

header.navbar-solid nav .menu-section-container .nav-bar-container form.form-multilenguaje {
    margin-left: 30px
}

@media (min-width: 992px) and (max-width: 1200px) {
    header.navbar-solid nav .menu-section-container .nav-bar-container form.form-multilenguaje {
        font-size: 1.2rem
    }
}

header.navbar-solid nav .menu-section-container .nav-bar-container form.form-multilenguaje select {
    background-color: transparent;
    color: #fff;
    border: 1px solid #47477A;
    font-size: 1.6rem;
    color: #000;
    padding: 8px;
    border-radius: 5px
}

header.navbar-solid nav .menu-section-container .nav-bar-container form.form-multilenguaje select option {
    background-color: transparent;
    color: #000
}

header.navbar-solid nav > a img {
    filter: brightness(0) saturate(100%)
}

header nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin: 0 auto;
    padding: 0 2rem
}

header nav > a {
    text-decoration: none;
    display: flex;
    width: 41rem;
    height: 4rem
}

@media (max-width: 992px) {
    header nav > a {
        width: 16rem
    }

    header nav > a img {
        filter: brightness(0) saturate(100%)
    }
}

header nav .menu-section-container {
    display: flex;
    align-items: center
}

header nav .menu-section-container .nav-bar-container {
    display: flex
}

header nav .menu-section-container .nav-bar-container ul {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-left: 30px;
    padding: 0;
    list-style: none;
    gap: 2.8rem
}

header nav .menu-section-container .nav-bar-container ul:before {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: #fff;
    z-index: -1
}

@media (max-width: 992px) {
    header nav .menu-section-container .nav-bar-container ul {
        display: none
    }

    header nav .menu-section-container .nav-bar-container ul.active {
        display: flex;
        flex-direction: column;
        animation: slideDown .3s ease-in-out;
        position: absolute;
        background-color: #fff;
        left: 0;
        top: 99%;
        padding: 2rem 0;
        width: 100%;
        margin: 0
    }

    header nav .menu-section-container .nav-bar-container ul.active:before {
        content: ""
    }
}

header nav .menu-section-container .nav-bar-container ul li {
    white-space: nowrap
}

header nav .menu-section-container .nav-bar-container ul li a {
    color: #fff;
    text-decoration: none !important;
    font-family: CorposRegular, Arial, sans-serif;
    outline: none
}

@media (min-width: 992px) and (max-width: 1200px) {
    header nav .menu-section-container .nav-bar-container ul li a {
        font-size: 1.2rem
    }
}

header nav .menu-section-container .nav-bar-container ul li a:hover, header nav .menu-section-container .nav-bar-container ul li a:focus, header nav .menu-section-container .nav-bar-container ul li a.active {
    border-bottom: 1px solid #47477A
}

@media (max-width: 992px) {
    header nav .menu-section-container .nav-bar-container ul li a:hover, header nav .menu-section-container .nav-bar-container ul li a:focus, header nav .menu-section-container .nav-bar-container ul li a.active {
        border-bottom: 1px solid #47477A
    }
}

@media (max-width: 992px) {
    header nav .menu-section-container .nav-bar-container ul li a {
        color: #47477a
    }
}

@media (max-width: 992px) {
    header nav .menu-section-container .nav-bar-container ul li {
        padding-top: 1.6rem
    }
}

header nav .menu-section-container .nav-bar-container form.form-multilenguaje {
    margin-left: 30px
}

@media (min-width: 992px) and (max-width: 1200px) {
    header nav .menu-section-container .nav-bar-container form.form-multilenguaje {
        font-size: 1.2rem
    }
}

header nav .menu-section-container .nav-bar-container form.form-multilenguaje:hover, header nav .menu-section-container .nav-bar-container form.form-multilenguaje:focus, header nav .menu-section-container .nav-bar-container form.form-multilenguaje:focus-visible, header nav .menu-section-container .nav-bar-container form.form-multilenguaje.active {
    border: none;
    outline: none
}

header nav .menu-section-container .nav-bar-container form.form-multilenguaje select {
    background-color: transparent;
    color: #fff;
    border: transparent;
    font-size: 1.6rem;
    padding: 8px;
    border-radius: 5px
}

header nav .menu-section-container .nav-bar-container form.form-multilenguaje select option {
    background-color: transparent;
    color: #000
}

@media (max-width: 992px) {
    header nav .menu-section-container .nav-bar-container form.form-multilenguaje select {
        background-color: transparent;
        color: #fff;
        border: 1px solid #47477A;
        font-size: 1.6rem;
        color: #000;
        padding: 8px;
        border-radius: 5px
    }

    header nav .menu-section-container .nav-bar-container form.form-multilenguaje select option {
        background-color: transparent;
        color: #000
    }
}

header nav .menu-section-container .navbar-burger {
    display: none
}

@media (max-width: 992px) {
    header nav .menu-section-container .navbar-burger {
        margin: 0 0 0 31px
    }
}

@media (max-width: 576px) {
    header nav .menu-section-container .navbar-burger {
        margin: 0 0 0 17px
    }
}

header nav .menu-section-container .navbar-burger span {
    display: block;
    width: 30px;
    height: 4px;
    background-color: #47477a;
    margin-bottom: 6px;
    transition: all .3s ease-in-out
}

@media (max-width: 992px) {
    header nav .menu-section-container .navbar-burger {
        display: block;
        cursor: pointer
    }
}

header nav .menu-section-container .navbar-burger.active span {
    height: 1px
}

header nav .menu-section-container .navbar-burger.active span:nth-child(1) {
    transform: rotate(45deg) translate(5px, 5px)
}

header nav .menu-section-container .navbar-burger.active span:nth-child(2) {
    opacity: 0
}

header nav .menu-section-container .navbar-burger.active span:nth-child(3) {
    transform: rotate(-45deg) translate(4px, -4px)
}

@keyframes slideDown {
    0% {
        opacity: 0;
        transform: translateY(-10px)
    }
    to {
        opacity: 1;
        transform: translateY(0)
    }
}

.complete-banner {
    position: relative;
    padding: 0
}

.complete-banner picture img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    vertical-align: bottom
}

.complete-banner .container-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center
}

@media (max-width: 992px) {
    .complete-banner .container-text {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        padding: 4rem 1.5rem
    }
}

.complete-banner .container-text img {
    width: 50%
}

@media (max-width: 992px) {
    .complete-banner .container-text img {
        width: 70%
    }
}

.complete-banner .container-text .btn.btn-primary {
    margin-top: 73px
}

.complete-banner .container-text .title-banner {
    color: #fff;
    font-size: 5rem;
    padding: 8px 0;
    width: 50%;
    line-height: 1;
    text-transform: uppercase
}

@media (max-width: 992px) {
    .complete-banner .container-text .title-banner {
        width: 100%;
        font-size: 3.2rem
    }
}

.complete-banner .container-text .title-banner span {
    font-size: 9.9rem;
    display: block;
    color: transparent;
    -webkit-text-stroke-width: .5px;
    -webkit-text-stroke-color: #ffffff;
    font-family: Futura_Bold
}

@media (max-width: 992px) {
    .complete-banner .container-text .title-banner span {
        width: 100%;
        font-size: 6.2rem
    }
}

.complete-banner .container-text .description-banner {
    color: #fff;
    width: 40%;
    font-size: 1.8rem;
    font-weight: 300;
    margin-bottom: 2rem
}

@media (max-width: 992px) {
    .complete-banner .container-text .description-banner {
        width: 100%
    }
}

.complete-banner .container-text .subtitle-banner {
    color: #fff;
    font-size: 1.5rem;
    font-weight: 300;
    padding-bottom: 4px
}

@media (max-width: 1440px) {
    .complete-banner .container-text .subtitle-banner {
        font-size: 1.2rem
    }
}

.complete-banner .container-text .link-banner {
    padding: .5rem 1.5rem;
    display: inline-block;
    background-color: #fff;
    color: #1d1d1d;
    font-size: .9rem;
    font-weight: 500;
    text-decoration: none;
    margin-top: 1.5rem;
    border-radius: 1.1rem
}

@media (max-width: 1440px) {
    .complete-banner .container-text .link-banner {
        font-size: .8rem
    }
}

.complete-banner .container-text .link-banner:hover {
    background-color: #f2f2f26b;
    color: #fff;
    font-weight: 800
}

.complete-banner:after {
    position: absolute;
    content: "";
    background-color: transparent;
    width: 50%;
    height: 100%;
    left: 0;
    top: 0;
    z-index: 1;
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px)
}

@media (max-width: 992px) {
    .complete-banner:after {
        width: 100%;
        height: 50%;
        top: inherit;
        bottom: 0
    }
}

.complete-banner.turism-banner {
    position: relative
}

.complete-banner.turism-banner .container-text {
    max-width: 565px;
    margin: 0 auto;
    text-align: center;
    top: 50%;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    flex-direction: column;
    margin-top: 7rem
}

@media (max-width: 576px) {
    .complete-banner.turism-banner .container-text {
        margin-top: 11rem
    }
}

.complete-banner.turism-banner .container-text .title-banner, .complete-banner.turism-banner .container-text .description-banner {
    width: 100%
}

.complete-banner.turism-banner .container-text .description-banner {
    margin-bottom: 3.5rem
}

.complete-banner.turism-banner:after {
    opacity: 0
}

@media (max-width: 576px) {
    .complete-banner.turism-banner:after {
        content: "";
        position: absolute;
        height: 100%;
        width: 100%;
        top: 0;
        left: 0;
        background: linear-gradient(180deg, transparent, #000000);
        z-index: 1;
        display: block;
        -webkit-backdrop-filter: blur(0);
        backdrop-filter: blur(0);
        opacity: .8
    }
}

.testimonials {
    padding: 0
}

@media (max-width: 992px) {
    .testimonials {
        padding: 2.5rem 0
    }
}

.testimonials-content {
    padding: 4rem 10rem 4rem 6rem;
    position: relative
}

@media (max-width: 992px) {
    .testimonials-content {
        padding: 1.5rem 0
    }
}

.testimonials-content .owl-nav {
    position: absolute;
    right: 0%;
    top: 50%;
    transform: translateY(-50%)
}

@media (max-width: 992px) {
    .testimonials-content .owl-nav {
        top: 20%
    }
}

.testimonials-content .owl-nav button {
    background-color: #6f162f;
    border: 1px solid #6F162F
}

.testimonials-content .owl-nav button:after {
    filter: invert(1)
}

.testimonials-cards {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 1.2rem;
    margin: 0 auto
}

@media (max-width: 992px) {
    .testimonials-cards {
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start
    }
}

.testimonials-info {
    padding: 0 1rem 0 2rem
}

@media (max-width: 992px) {
    .testimonials-info {
        padding: 1.5rem 0 2rem
    }
}

@media (max-width: 992px) {
    .testimonials-info img {
        width: 2%
    }
}

.testimonials-info p, .testimonials-info small {
    color: #fff
}

.testimonials-info p {
    font-size: 3rem;
    text-align: center;
    margin-bottom: 3rem;
    color: #9a93c9
}

.testimonials-info p span {
    color: #47477a
}

.testimonials-info p span.quotation {
    font-size: 5rem
}

.testimonials-info small {
    font-weight: lighter;
    font-size: 1.5rem;
    font-family: Futura_Light
}

.services {
    background-color: #f5f5f5;
    padding: 0
}

@media (max-width: 992px) {
    .services {
        padding: 2.5rem 0
    }
}

.services-content {
    padding: 4rem 10rem 4rem 6rem;
    position: relative
}

@media (max-width: 992px) {
    .services-content {
        padding: 1.5rem 0
    }
}

.services-content .owl-nav {
    position: absolute;
    right: 0%;
    top: 50%;
    transform: translateY(-50%)
}

@media (max-width: 992px) {
    .services-content .owl-nav {
        top: 20%
    }
}

.services-content .owl-nav button {
    background-color: #6f162f;
    border: 1px solid #6F162F
}

.services-content .owl-nav button:after {
    filter: invert(1)
}

.services-cards {
    padding: 0 1.2rem;
    margin: 0 auto
}

@media (max-width: 992px) {
    .services-cards {
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start
    }
}

.services-info {
    padding: 0 1rem 0 2rem
}

@media (max-width: 992px) {
    .services-info {
        padding: 1.5rem 0 2rem
    }
}

@media (max-width: 992px) {
    .services-info img {
        width: 2%
    }
}

.services-info h2 {
    font-size: 3rem;
    text-align: center;
    text-transform: initial;
    font-weight: 400;
    color: #47477a
}

.services-info small {
    font-weight: lighter;
    font-size: 1.5rem;
    font-family: Futura_Light
}

.services-offerts {
    text-align: center;
    margin: 70px 0
}

@media (max-width: 576px) {
    .services-offerts {
        margin: 50px 0
    }
}

.services-offerts .row {
    justify-content: center
}

.services-offerts .row .services-offerts-item {
    margin: 30px 0
}

.services-offerts .row .services-offerts-item img {
    width: 80%
}

.services-offerts .row .services-offerts-item h3 {
    padding: 10px 0;
    font-size: 3rem;
    color: #47477a;
    font-weight: 400;
    text-transform: initial
}

@media (max-width: 768px) {
    .services-offerts .row .services-offerts-item h3 {
        font-size: 2rem
    }
}

.services-offerts .row .owl-dots {
    position: absolute;
    width: 100%;
    height: auto;
    left: 0;
    bottom: 9%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center
}

.banner-clients {
    position: relative;
    background-image: url(../../images/travel-slider-clients.png);
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    vertical-align: bottom;
    padding-top: 150px;
    background-repeat: no-repeat;
    background-size: cover
}

@media (max-width: 768px) {
    .banner-clients {
        background-image: url(../../images/travel-slider-clients-mobile.png)
    }
}

.banner-clients .banner-clients-items-container {
    position: relative;
    text-align: center
}

@media (max-width: 992px) {
    .banner-clients .banner-clients-items-container {
        margin-top: -6%;
        padding-bottom: 8%
    }
}

.banner-clients .banner-clients-items-container img {
    width: 60%
}

.banner-clients .banner-clients-items-container .owl-nav {
    border-radius: 50%;
    background-color: transparent;
    border: 1px solid transparent;
    margin-left: 1rem;
    position: absolute;
    cursor: pointer;
    width: 98%;
    top: 40%
}

.banner-clients .banner-clients-items-container .owl-nav .owl-next {
    position: absolute;
    right: 9%;
    background-color: transparent;
    border: 1px solid transparent;
    box-shadow: none
}

@media (max-width: 992px) {
    .banner-clients .banner-clients-items-container .owl-nav .owl-next {
        bottom: 0;
        right: 4%
    }
}

.banner-clients .banner-clients-items-container .owl-nav .owl-next:after {
    background: url(../../images/chevron-next.svg) center center no-repeat;
    filter: brightness(0) saturate(100%) invert(61%) sepia(46%) saturate(384%) hue-rotate(205deg) brightness(80%) contrast(81%);
    width: 63px;
    height: 110px;
    background-size: 50px
}

@media (max-width: 576px) {
    .banner-clients .banner-clients-items-container .owl-nav .owl-next:after {
        width: 29px;
        height: 55px;
        background-size: 30px
    }
}

.banner-clients .banner-clients-items-container .owl-nav .owl-prev {
    position: absolute;
    left: 9%;
    background-color: transparent;
    border: 1px solid transparent;
    box-shadow: none
}

@media (max-width: 992px) {
    .banner-clients .banner-clients-items-container .owl-nav .owl-prev {
        bottom: 0;
        left: 0
    }
}

.banner-clients .banner-clients-items-container .owl-nav .owl-prev:after {
    background: url(../../images/chevron-prev.svg) center center no-repeat;
    filter: brightness(0) saturate(100%) invert(61%) sepia(46%) saturate(384%) hue-rotate(205deg) brightness(80%) contrast(81%);
    width: 63px;
    height: 110px;
    background-size: 50px
}

@media (max-width: 576px) {
    .banner-clients .banner-clients-items-container .owl-nav .owl-prev:after {
        width: 29px;
        height: 55px;
        background-size: 30px
    }
}

.request-form {
    background-color: #9a93c9;
    padding: 100px 0
}

@media (max-width: 992px) {
    .request-form .row {
        flex-direction: column-reverse
    }
}

.request-form .row .request-form-container form .form-group {
    display: flex;
    flex-direction: column;
    row-gap: 22px
}

.request-form .row .request-form-container form .form-group label {
    font-size: 22px;
    color: #fff
}

.request-form .row .request-form-container form .form-group input, .request-form .row .request-form-container form .form-group select, .request-form .row .request-form-container form .form-group textarea {
    border: 1px solid #ffffff;
    color: #fff;
    padding: .81rem .75rem;
    background-color: transparent
}

.request-form .row .request-form-container form .form-group input:focus, .request-form .row .request-form-container form .form-group input:active, .request-form .row .request-form-container form .form-group input:focus-visible, .request-form .row .request-form-container form .form-group input:focus-within, .request-form .row .request-form-container form .form-group select:focus, .request-form .row .request-form-container form .form-group select:active, .request-form .row .request-form-container form .form-group select:focus-visible, .request-form .row .request-form-container form .form-group select:focus-within, .request-form .row .request-form-container form .form-group textarea:focus, .request-form .row .request-form-container form .form-group textarea:active, .request-form .row .request-form-container form .form-group textarea:focus-visible, .request-form .row .request-form-container form .form-group textarea:focus-within {
    outline: none
}

.request-form .row .request-form-container form .form-check {
    padding: 10px 0
}

.request-form .row .request-form-container form .form-check label {
    color: #fff
}

.request-form .row .request-form-text-container h2 {
    color: #47477a;
    text-transform: initial;
    font-weight: 400;
    letter-spacing: initial;
    font-size: 7rem;
    margin-bottom: 30px
}

@media (max-width: 992px) {
    .request-form .row .request-form-text-container h2 {
        font-size: 4rem
    }
}

.request-form .row .request-form-text-container p {
    font-size: 1.8rem;
    color: #fff
}

.parthnes .row {
    justify-content: space-around;
    align-items: center
}

.linetime {
    padding-bottom: 20px
}

.linetime .line-time-text-container {
    padding: 0 20px
}

.linetime .line-time-text-container h2 {
    color: #47477a;
    text-transform: initial;
    font-weight: 400;
    letter-spacing: initial;
    font-size: 7rem;
    margin-bottom: 30px;
    word-break: break-word
}

@media (max-width: 992px) {
    .linetime .line-time-text-container h2 {
        font-size: 4rem
    }
}

.linetime .line-time-text-container p {
    font-size: 1.8rem;
    color: #000
}

.timeline {
    white-space: nowrap;
    overflow-x: auto
}

.timeline ol {
    font-size: 0;
    padding: 140px 0;
    transition: all 1s;
    transform: translate(-122px)
}

.timeline ol li {
    position: relative;
    display: inline-block;
    list-style-type: none;
    width: 160px;
    height: 3px;
    background: #F6F6F6
}

.timeline ol > li:first-child {
    background: transparent
}

.timeline ol li:last-child {
    width: 280px
}

.timeline ol li:not(:first-child) {
    margin-left: 14px
}

.timeline ol li:not(:last-child):after {
    content: "";
    position: absolute;
    top: 50%;
    left: calc(100% + 1px);
    bottom: 0;
    width: 12px;
    height: 12px;
    transform: translateY(-50%);
    border-radius: 50%;
    background: #47477A
}

.timeline ol li div {
    position: absolute;
    left: calc(100% + 7px);
    width: 280px;
    padding: 15px;
    font-size: 1rem;
    white-space: normal;
    color: #000;
    background: white
}

.timeline ol li div:before {
    content: "";
    position: absolute;
    top: 100%;
    left: 0;
    width: 0;
    height: 0;
    border-style: solid
}

.timeline ol li:nth-child(odd) div {
    top: -16px;
    transform: translateY(-100%)
}

.timeline ol li:nth-child(odd) div:before {
    top: 100%;
    border-width: 8px 8px 0 0;
    border-color: white transparent transparent transparent
}

.timeline ol li:nth-child(2n) div {
    top: calc(100% + 16px)
}

.timeline ol li:nth-child(2n) div:before {
    top: -8px;
    border-width: 8px 0 0 8px;
    border-color: transparent transparent transparent white
}

.timeline time {
    display: block;
    font-size: 1.2rem;
    font-weight: 700;
    margin-bottom: 8px
}

.timeline .arrows {
    display: flex;
    justify-content: center;
    margin-bottom: 20px
}

.timeline .arrows .arrow__prev, .timeline .arrows .arrow__next {
    margin-right: 20px;
    background-color: transparent;
    border: none
}

.timeline .disabled {
    opacity: .5
}

.timeline .arrows img {
    width: 45px;
    height: 45px
}

@media screen and (max-width: 599px) {
    .timeline ol, .timeline ol li {
        width: auto
    }

    .timeline ol {
        padding: 0;
        transform: none !important
    }

    .timeline ol li {
        display: block;
        height: auto;
        background: transparent
    }

    .timeline ol li:first-child {
        margin-top: 25px
    }

    .timeline ol li:not(:first-child) {
        margin-left: auto
    }

    .timeline ol li div {
        position: static;
        width: 94%;
        height: auto !important;
        margin: 0 auto 25px
    }

    .timeline ol li:nth-child(odd) div {
        transform: none
    }

    .timeline ol li:nth-child(odd) div:before, .timeline ol li:nth-child(2n) div:before {
        left: 50%;
        top: 100%;
        transform: translate(-50%);
        border: none;
        border-left: 1px solid white;
        height: 25px
    }

    .timeline ol li:last-child, .timeline ol li:nth-last-child(2) div:before, .timeline ol li:not(:last-child):after, .timeline .arrows {
        display: none
    }
}

.timeline {
    white-space: nowrap;
    overflow-x: auto;
    position: relative
}

.timeline::-webkit-scrollbar {
    width: 0px;
    height: 7px
}

.timeline::-webkit-scrollbar-track {
    background-color: transparent
}

.timeline::-webkit-scrollbar-thumb {
    border-radius: 5px;
    border: 9px solid #9A93C9
}

@media (max-width: 576px) {
    .timeline::-webkit-scrollbar-thumb {
        border: 9px solid #9A93C9
    }
}

.timeline::-webkit-scrollbar-thumb:hover {
    background: #47477A
}

ol {
    font-size: 0;
    padding: 140px 0;
    transition: all 1s;
    transform: translate(-122px)
}

ol li {
    position: relative;
    display: inline-block;
    list-style-type: none;
    width: 160px;
    height: 3px;
    background: #F6F6F6
}

ol li:last-child {
    width: 280px
}

ol li:not(:first-child) {
    margin-left: 14px
}

ol li:not(:last-child):after {
    content: "";
    position: absolute;
    top: 50%;
    left: calc(100% + 1px);
    bottom: 0;
    width: 12px;
    height: 12px;
    transform: translateY(-50%);
    border-radius: 50%;
    background: #47477A
}

ol li div {
    position: absolute;
    left: calc(100% + 7px);
    width: 280px;
    padding: 15px;
    font-size: 1rem;
    white-space: normal;
    color: #000;
    background: white
}

ol li div:before {
    content: "";
    position: absolute;
    top: 100%;
    left: 0;
    width: 0;
    height: 0;
    border-style: solid
}

ol li:nth-child(odd) div {
    top: -16px;
    transform: translateY(-100%)
}

ol li:nth-child(odd) div:before {
    top: 100%;
    border-width: 8px 8px 0 0;
    border-color: white transparent transparent transparent
}

ol li:nth-child(2n) div {
    top: calc(100% + 16px)
}

ol li:nth-child(2n) div:before {
    top: -8px;
    border-width: 8px 0 0 8px;
    border-color: transparent transparent transparent white
}

ol > li:first-child {
    background: transparent
}

time {
    display: block;
    font-size: 1.2rem;
    font-weight: 700;
    margin-bottom: 8px
}

.arrows {
    display: flex;
    justify-content: center;
    margin-bottom: 20px
}

.arrows .arrow__prev, .arrows .arrow__next {
    margin-right: 20px;
    background-color: transparent;
    border: none
}

.arrows img {
    width: 45px;
    height: 45px
}

.disabled {
    opacity: .5
}

.page-footer {
    position: fixed;
    right: 0;
    bottom: 20px;
    display: flex;
    align-items: center;
    padding: 5px;
    color: #000;
    background: rgba(255, 255, 255, .65)
}

.page-footer a {
    display: flex;
    margin-left: 4px
}

@media screen and (max-width: 599px) {
    .timeline ol {
        width: auto;
        padding: 0;
        transform: none !important
    }

    .timeline ol li {
        width: auto;
        display: block;
        height: auto;
        background: transparent
    }

    .timeline ol li:first-child {
        margin-top: 25px
    }

    .timeline ol li:not(:first-child) {
        margin-left: auto
    }

    .timeline ol li div {
        position: static;
        width: 94%;
        height: auto !important;
        margin: 0 auto 25px
    }

    .timeline ol li:nth-child(odd) div {
        transform: none
    }

    .timeline ol li:nth-child(odd) div:before {
        left: 50%;
        top: 100%;
        transform: translate(-50%);
        border: none;
        border-left: 1px solid white;
        height: 25px
    }

    .timeline ol li:nth-child(2n) div:before {
        left: 50%;
        top: 100%;
        transform: translate(-50%);
        border: none;
        border-left: 1px solid white;
        height: 25px
    }

    .timeline ol li:last-child {
        display: none
    }

    .timeline ol li:nth-last-child(2) div:before {
        display: none
    }

    .timeline ol li:not(:last-child):after {
        display: none
    }

    .timeline .arrows {
        display: none
    }
}

.carouse-clients {
    padding: 40px 0
}

.carouse-clients.owl-carosuel .owl-stage .owl-item {
    text-align: center
}

.banner-clients-items-container h2 {
    color: #9a93c9;
    text-transform: initial;
    font-weight: 400;
    letter-spacing: initial;
    font-size: 7rem;
    margin-bottom: 30px;
    word-break: break-word
}

@media (max-width: 992px) {
    .banner-clients-items-container h2 {
        font-size: 4rem
    }
}

@media (max-width: 576px) {
    .banner-clients-items-container h2 {
        font-size: 3rem
    }
}

footer {
    background-color: #47477a;
    padding: 79px 0 45px
}

footer .contact-data .title-column {
    color: #fff;
    font-weight: 400;
    text-transform: initial;
    letter-spacing: initial;
    min-height: 62px
}

footer .contact-data .contact-group {
    display: flex;
    padding: 0 0 20px
}

footer .contact-data .contact-group ul li {
    list-style: none
}

footer .contact-data .contact-group ul li a {
    color: #fff;
    text-decoration: none
}

footer .contact-data .contact-group.phone:before {
    content: "";
    margin-left: 9px;
    margin-right: 2%;
    background-image: url(../../images/icon-cellphone-footer.svg);
    background-repeat: no-repeat;
    width: 29px;
    height: 29px;
    display: block
}

footer .contact-data .contact-group.address:before {
    content: "";
    margin-left: 9px;
    margin-right: 2%;
    background-image: url(../../images/icon-maker-footer.svg);
    background-repeat: no-repeat;
    width: 29px;
    height: 29px;
    display: block
}

footer .contact-data .contact-group.mail:before {
    content: "";
    margin-left: 9px;
    margin-right: 2%;
    background-image: url(../../images/icon-mail-footer.svg);
    background-repeat: no-repeat;
    width: 29px;
    height: 29px;
    display: block
}

footer .services-links .title-column {
    color: #fff;
    font-weight: 400;
    text-transform: initial;
    letter-spacing: initial;
    min-height: 62px
}

footer .services-links .contact-group {
    display: flex
}

footer .services-links .contact-group ul li {
    list-style: none;
    padding: 0 0 20px
}

footer .services-links .contact-group ul li a {
    color: #fff;
    text-decoration: none
}

footer .contact-form .title-column {
    color: #fff;
    font-weight: 400;
    text-transform: initial;
    letter-spacing: initial;
    min-height: 62px
}

@media (max-width: 992px) {
    footer .contact-form .request-form-container {
        padding: 0
    }
}

footer .contact-form .request-form-container form .form-group {
    display: flex;
    flex-direction: row;
    row-gap: 10px;
    padding: 10px 0
}

footer .contact-form .request-form-container form .form-group label {
    font-size: 1.6rem;
    color: #fff;
    width: 30%
}

@media (max-width: 992px) {
    footer .contact-form .request-form-container form .form-group label {
        width: 40%
    }
}

footer .contact-form .request-form-container form .form-group input, footer .contact-form .request-form-container form .form-group select, footer .contact-form .request-form-container form .form-group textarea {
    border: 1px solid #ffffff;
    color: #fff;
    padding: .81rem .75rem;
    background-color: transparent;
    width: auto;
    resize: none
}

@media (max-width: 992px) {
    footer .contact-form .request-form-container form .form-group input, footer .contact-form .request-form-container form .form-group select, footer .contact-form .request-form-container form .form-group textarea {
        width: 60%
    }
}

footer .contact-form .request-form-container form .form-group input:focus, footer .contact-form .request-form-container form .form-group input:active, footer .contact-form .request-form-container form .form-group input:focus-visible, footer .contact-form .request-form-container form .form-group input:focus-within, footer .contact-form .request-form-container form .form-group select:focus, footer .contact-form .request-form-container form .form-group select:active, footer .contact-form .request-form-container form .form-group select:focus-visible, footer .contact-form .request-form-container form .form-group select:focus-within, footer .contact-form .request-form-container form .form-group textarea:focus, footer .contact-form .request-form-container form .form-group textarea:active, footer .contact-form .request-form-container form .form-group textarea:focus-visible, footer .contact-form .request-form-container form .form-group textarea:focus-within {
    outline: none
}

footer .contact-form .request-form-container form .form-check {
    padding: 10px 0
}

footer .contact-form .request-form-container form .form-check label {
    color: #fff
}
